.formContainer{
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.25);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.formContainer .formField{
    width: calc(50% - 15px);
}
.formContainer .formField label{
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
}
.formContainer .formField input, .formContainer .formField select {
    width: 100%;
    border: solid 1px #ccc;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    padding: 3px 10px;
}

.react-datepicker-wrapper {
    width: 100%;
}
@media (max-width: 768px){
    .formContainer .formField{
        width: 100%;
    }
}